@charset 'utf-8';
/* ==========================================================================
Author        :  Arif Lutfhansah
Create        :  20 April 2018
Last Update   :  2 April 2020

Contents  :
  1: Body Section

  Copyright (c) 2020 Arif Lutfhansah
  
========================================================================== */

$background-color: #EEBECE;
$font-white: #FFFFFF;

/*
  Transition
-------------------------------------*/
@mixin transition($time) {
  -webkit-transition: all $time ease-in-out;
     -moz-transition: all $time ease-in-out;
      -ms-transition: all $time ease-in-out;
       -o-transition: all $time ease-in-out;
          transition: all $time ease-in-out;
}
/*
  Animation Delay
-------------------------------------*/
@mixin animation-delay($time) {
  -webkit-animation-delay: $time;
     -moz-animation-delay: $time;
      -ms-animation-delay: $time;
       -o-animation-delay: $time;
          animation-delay: $time;
}

/*
  Body
-------------------------------------*/
#snow, #sidebar {
  float: left;
}
.inner {
  height: 100vh;
  overflow: auto;
}
/* --- View --- */
#snow {
  position: relative;
  width: 40%;
  height: 100%;
  .content {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 87%;
    margin: 0;
    transform: translate(-50%, -50%);
  }
  .logo {
    position: absolute;
    top: 25px;
    left: 30px;
    img {
      width: 130px;
    }
  }
  .head {
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 3vw;
    font-weight: 700;
    letter-spacing: -2px;
    line-height: 100%;
  }
  .caption {
    margin-bottom: 35px;
    color: #B6B6B6;
    font-size: 1.1vw;
    letter-spacing: -0.5px;
    line-height: 170%;
  }
  .go {
    a {
      width: 180px;
      padding: 12px 0;
      border-radius: 30px;
      color: #FFF;
      font-size: 18px;
      font-weight: 700;
      text-align: center;
      background-color: #E503C5;
      border: 2px solid #E503C5;
      @include transition(.3s);
      &:hover {
        color: #E503C5;
        background-color: #FFF;
      }
    }
  }
  #copyright {
    position: absolute;
    bottom: 25px;
    left: 30px;
    width: 82%;
    margin: 0 auto;
    font-size: 14px;
    span {
      font-size: 14px;
      font-weight: 700;
    }
  }
}
/* --- Sidebar --- */
#sidebar {
  width: 60%;
  height: 100%;
  background: url('../image/background.png') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-indent: -9999;
}

