@charset 'utf-8';
/* ==========================================================================
Author        :  Arif Lutfhansah
Create        :  20 April 2018
Last Update   :  20 April 2018

Source  :
  1: Arif Framework The MIT License (MIT) Copyright (c) Arif Lutfhansah
  2: Bootstrap Framework The MIT License (MIT) Copyright (c) Bootstrap
  3: Materialize Framework The MIT License (MIT) Copyright (c) 2014-2017 Materialize

Contents  :
  1: Media Query for Mobile (min width 769px) Section

  Copyright (c) 2018 Arif Lutfhansah
  
========================================================================== */

$background-color: #EEBECE;
$font-white: #FFFFFF;

/*
  Body
-------------------------------------*/

#snow {
	width: 100%;
	display: block;
  	position: fixed;
  	left: 0;
  	top: 0;
  	right: 0;
  	bottom: 0;
    text-align: center;
  	background-color: #0F2027;
  background-image: -webkit-linear-gradient(#0F2027, #080e10);
  background-image: -o-linear-gradient(#0F2027, #080e10);
  background-image: linear-gradient(#0F2027, #080e10);
  .logo {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    margin: 0 auto;
    img {
      width: 100px;
    }
  }
  .head {
    color: #FFF;
    font-size: 22px;
    letter-spacing: 0px;
  }
  .caption {
    color: #FFF;
    font-size: 14px;
    letter-spacing: 0px;
  }
  .go {
    a {
      margin: 0 auto;
    }
  }
  #copyright {
    color: #FFF;
    text-align: center;
  }
}
#sidebar {
	display: none;
}